*.o
*.ko
*.mod*
*.orig
*.cmd
compile_commands.json
Module.symvers
modules.order
**/__pycache__/**
userspace/t500rs-ffb
userspace/test_all_effects
userspace/test_input_reading
userspace/list_input_devices
#captures/*